In [26]:
#import warnings
from warnings import filterwarnings
filterwarnings('ignore')

In [27]:
#step 1:read the dataset
import pandas as pd
df = pd.read_csv('50_Startups.csv')
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [28]:
#step2:check data qualities
df.info

<bound method DataFrame.info of           RND      ADMIN        MKT       STATE     PROFIT
0   165349.20  136897.80  471784.10    New York  192261.83
1   162597.70  151377.59  443898.53  California  191792.06
2   153441.51  101145.55  407934.54     Florida  191050.39
3   144372.41  118671.85  383199.62    New York  182901.99
4   142107.34   91391.77  366168.42     Florida  166187.94
5   131876.90   99814.71  362861.36    New York  156991.12
6   134615.46  147198.87  127716.82  California  156122.51
7   130298.13  145530.06  323876.68     Florida  155752.60
8   120542.52  148718.95  311613.29    New York  152211.77
9   123334.88  108679.17  304981.62  California  149759.96
10  101913.08  110594.11  229160.95     Florida  146121.95
11  100671.96   91790.61  249744.55  California  144259.40
12   93863.75  127320.38  249839.44     Florida  141585.52
13   91992.39  135495.07  252664.93  California  134307.35
14  119943.24  156547.42  256512.92     Florida  132602.65
15  114523.61  122616.84  261776.23    New York  129917.04
16   78013.11  121597.55  264346.06  California  126992.93
17   94657.16  145077.58  282574.31    New York  125370.37
18   91749.16  114175.79  294919.57     Florida  124266.90
19   86419.70  153514.11       0.00    New York  122776.86
20   76253.86  113867.30  298664.47  California  118474.03
21   78389.47  153773.43  299737.29    New York  111313.02
22   73994.56  122782.75  303319.26     Florida  110352.25
23   67532.53  105751.03  304768.73     Florida  108733.99
24   77044.01   99281.34  140574.81    New York  108552.04
25   64664.71  139553.16  137962.62  California  107404.34
26   75328.87  144135.98  134050.07     Florida  105733.54
27   72107.60  127864.55  353183.81    New York  105008.31
28   66051.52  182645.56  118148.20     Florida  103282.38
29   65605.48  153032.06  107138.38    New York  101004.64
30   61994.48  115641.28   91131.24     Florida   99937.59
31   61136.38  152701.92   88218.23    New York   97483.56
32   63408.86  129219.61   46085.25  California   97427.84
33   55493.95  103057.49  214634.81     Florida   96778.92
34   46426.07  157693.92  210797.67  California   96712.80
35   46014.02   85047.44  205517.64    New York   96479.51
36   28663.76  127056.21  201126.82     Florida   90708.19
37   44069.95   51283.14  197029.42  California   89949.14
38   20229.59   65947.93  185265.10    New York   81229.06
39   38558.51   82982.09  174999.30  California   81005.76
40   28754.33  118546.05  172795.67  California   78239.91
41   27892.92   84710.77  164470.71     Florida   77798.83
42   23640.93   96189.63  148001.11  California   71498.49
43   15505.73  127382.30   35534.17    New York   69758.98
44   22177.74  154806.14   28334.72  California   65200.33
45    1000.23  124153.04    1903.93    New York   64926.08
46    1315.46  115816.21  297114.46     Florida   49490.75
47       0.00  135426.92       0.00  California   42559.73
48     542.05   51743.15       0.00    New York   35673.41
49       0.00  116983.80   45173.06  California   14681.40>

In [29]:
#check missing values
m = df.isna().sum()
m[m>0]

Series([], dtype: int64)

In [30]:
df.duplicated().sum()

0

In [31]:
#Step 3:seperate x and y(PROFIT)
x = df.drop(columns=['PROFIT'])
y = df[['PROFIT']]

In [32]:
x.head()

         RND      ADMIN        MKT       STATE
0  165349.20  136897.80  471784.10    New York
1  162597.70  151377.59  443898.53  California
2  153441.51  101145.55  407934.54     Florida
3  144372.41  118671.85  383199.62    New York
4  142107.34   91391.77  366168.42     Florida

In [33]:
y.head()

      PROFIT
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

In [34]:
#step 4:perform preprocessing on x
cat = list(df.columns[df.dtypes=='object'])
con = list(df.columns[df.dtypes!='object'])

In [35]:
cat

['STATE']

In [36]:
con

['RND', 'ADMIN', 'MKT', 'PROFIT']

In [37]:
from sklearn.pipeline import Pipeline #automated preprocessing
from sklearn.impute import SimpleImputer #replacing missing value
from sklearn.preprocessing import StandardScaler,OneHotEncoder #preprocessing
from sklearn.compose import ColumnTransformer

In [38]:
num_pipe = Pipeline(steps=[('impute',SimpleImputer(strategy='median')),
                            ('scaler',StandardScaler())])

In [39]:
cat_pipe1 = Pipeline(steps=[('impute',SimpleImputer(strategy='most_frequent')),
                            ('ohe',OneHotEncoder(handle_unknown='ignore',sparse_output=False))])

In [40]:
pre = ColumnTransformer([('num', num_pipe, con),
                         ('cat', cat_pipe1, cat)]).set_output(transform='pandas')

In [43]:
x_pre = pre.fit_transform(x)
x_pre.head()

ValueError: A given column is not a column of the dataframe

In [44]:
#Step 5: Train Test Split
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x_pre, Y, test_size=0.2, random_state=42)

NameError: name 'x_pre' is not defined

In [45]:
xtrain.head()

NameError: name 'xtrain' is not defined

In [46]:
ytrain.head()

NameError: name 'ytrain' is not defined

In [47]:
xtest.head()

NameError: name 'xtest' is not defined

In [48]:
ytest.head()

NameError: name 'ytest' is not defined

In [49]:
xtrain.shape

NameError: name 'xtrain' is not defined

In [50]:
xtest.shape

NameError: name 'xtest' is not defined

In [51]:
#Step 6: Create a Decison Tree Model
from sklearn.tree import DecisionTreeRegressor
model1 = DecisionTreeRegressor(max_depth=1,
                               min_samples_split=5,
                               min_samples_leaf=5,
                               criterion='absolute_error')
model1.fit(xtrain, ytrain)

NameError: name 'xtrain' is not defined

In [52]:
model1.score(xtrain, ytrain)

NameError: name 'xtrain' is not defined

In [53]:
model1.score(xtest, ytest)

NameError: name 'xtest' is not defined

In [54]:
#Step 7: Hyperparameter Tune the model GridSearchCV
params = {'max_depth':[1, 2, 3, 4, 5, 6, 7],
          'min_samples_split':[3, 4, 5, 6, 7],
          'min_samples_leaf':[5, 6, 7, 8, 9],
          'criterion':['absolute_error', 'squared_error']}

In [55]:
from sklearn.model_selection import GridSearchCV
dtr = DecisionTreeRegressor()
gscv = GridSearchCV(dtr, param_grid=params, cv=5, scoring='neg_mean_squared_error')
gscv.fit(xtrain, ytrain)

NameError: name 'xtrain' is not defined

In [56]:
gscv.best_params_

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'

In [57]:
gscv.best_score_

AttributeError: 'GridSearchCV' object has no attribute 'best_score_'

In [58]:
best_dtr = gscv.best_estimator_
best_dtr

AttributeError: 'GridSearchCV' object has no attribute 'best_estimator_'

In [59]:
#Step 8: Evaluate the model
best_dtr.score(xtrain, ytrain)

NameError: name 'best_dtr' is not defined

In [60]:
best_dtr.score(xtest, ytest)

NameError: name 'best_dtr' is not defined

In [61]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
def evaluate_model(model, x, y):
    ypred=model.predict(x)
    mse = mean_squared_error(y, ypred)
    rmse = mse**(1/2)
    mae = mean_absolute_error(y, ypred)
    r2 = r2_score(y, ypred)
    print(f'Mean Squared Error : {mse:.2f}')
    print(f'Root Mean Squared Error : {rmse:.2f}')
    print(f'Mean Absolute Error : {mae:.2f}')
    print(f'R2 Score : {r2:.4f}')

In [62]:
evaluate_model(best_dtr, xtrain, ytrain)

NameError: name 'best_dtr' is not defined

In [63]:
evaluate_model(best_dtr, xtest, ytest)

NameError: name 'best_dtr' is not defined

In [64]:
#Plot the tree
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt 
plt.figure(figsize=(10,10))
plot_tree(best_dtr, feature_names=xtrain.columns, filled=True, max_depth=2)
plt.show()

NameError: name 'best_dtr' is not defined